@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-medium";
  src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../../public/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  /* background: #f1f1f1; */
  color: black;
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
}

/* Calendar styling */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #a6a6a6;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

.custom-date::-webkit-calendar-picker-indicator {
  background: #a6a6a6;
  border-radius: 4px;
  padding: 4px;
}

/* globals.css */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.font-bold {
  font-family: "Poppins-bold";
}
